<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Life isn’t about getting and having, it’s about giving and being. –Kevin Kruse</string>
	<string>Whatever the mind of man can conceive and believe, it can achieve. –Napoleon Hill</string>
	<string>Strive not to be a success, but rather to be of value. –Albert Einstein</string>
	<string> Two roads diverged in a wood, and I—I took the one less traveled by, And that has made all the difference.  –Robert Frost</string>
	<string>I attribute my success to this: I never gave or took any excuse. –Florence Nightingale</string>
	<string>You miss 100% of the shots you don’t take. –Wayne Gretzky</string>
	<string>I’ve missed more than 9000 shots in my career. I’ve lost almost 300 games. 26 times I’ve been trusted to take the game winning shot and missed. I’ve failed over and over and over again in my life. And that is why I succeed. –Michael Jordan</string>
	<string>The most difficult thing is the decision to act, the rest is merely tenacity. –Amelia Earhart</string>
	<string>Every strike brings me closer to the next home run. –Babe Ruth</string>
	<string>Definiteness of purpose is the starting point of all achievement. –W. Clement Stone</string>
	<string>We must balance conspicuous consumption with conscious capitalism. –Kevin Kruse</string>
	<string>Life is what happens to you while you’re busy making other plans. –John Lennon</string>
	<string>We become what we think about. –Earl Nightingale</string>
	<string>Twenty years from now you will be more disappointed by the things that you didn’t do than by the ones you did do, so throw off the bowlines, sail away from safe harbor, catch the trade winds in your sails.  Explore, Dream, Discover. –Mark Twain</string>
	<string>Life is 10% what happens to me and 90% of how I react to it. –Charles Swindoll</string>
	<string>The most common way people give up their power is by thinking they don’t have any. –Alice Walker</string>
	<string>The mind is everything. What you think you become.  –Buddha</string>
	<string>The best time to plant a tree was 20 years ago. The second best time is now. –Chinese Proverb</string>
	<string>An unexamined life is not worth living. –Socrates</string>
	<string>Eighty percent of success is showing up. –Woody Allen</string>
	<string>Your time is limited, so don’t waste it living someone else’s life. –Steve Jobs</string>
	<string>Winning isn’t everything, but wanting to win is. –Vince Lombardi</string>
	<string> I am not a product of my circumstances. I am a product of my decisions. –Stephen Covey</string>
</array>
</plist>
